@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-color: #202020;
}
.container {
    width: 996px;
    margin: auto;
    text-align: center;
}
h1{
    letter-spacing: 35px;
    font-size: 100px;
    text-align: center;
    margin: 0 0 0 35px;
}
.middle, #button {
    display: flex;
    justify-content: center;}
img {
    width: 50%;
}
.player img{
    width: 70%;
}
.ia, .player{
    width: 100%;
}
#ia-signe, #player-signe{
    width: 40%
}
#result {
    border: 1px solid white;
    width: 450px;
    color : white
}
button {
    background-color: #202020;
    color: white;
    margin: 10px;
    width: 100px;
    border-radius: 50px;
    border: 5px solid #FFC028;
    padding: 5px;
}
button:hover{
    background-color: #FFC028;
}
#reset{
    margin: 20px;
}
#details{
    margin-top: 20px;
}
